html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#map{
  width: 100%;
  height: 100%;
}

.mapboxgl-marker{
  background-size: cover;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
 }

.green{
  background-image: url('green.png');
}

.yellow{
  background-image: url('yellow.png');
}

.red{
  background-image: url('red.png');
}
